<div class="hero-unit" style="text-align:center;">
	    	<h1>Local Book Rental</h1>
	    	<p class="lead">Local Author Engineering Books Rental Service</p>
			<% if user_signed_in? %>
				<%= link_to("Edit Profile", edit_user_registration_path, :class => "btn btn-large btn-success")%> | 
			   	<%= link_to('Logout', destroy_user_session_path, :method => :delete, :class => "btn btn-large btn-danger") %>
			<% else %>
				<%= link_to('Join Us For Free', new_user_registration_path, :class => "btn btn-large btn-success")  %>   
		  	<% end %>
		</div>
<hr>
<div class="row-fluid marketing">
        <div class="span6">
		<div class="well well-small">
          <h4>Lastest Books</h4>
		</div>
		<div class="well">
          <p>Donec id elit non mi porta gravida at eget metus. Maecenas faucibus mollis interdum.</p>
          <p>Morbi leo risus, porta ac consectetur ac, vestibulum at eros. Cras mattis consectetur purus sit amet fermentum.</p>
          <p>Maecenas sed diam eget risus varius blandit sit amet non magna.</p>
		</div>
        </div>

        <div class="span6">
		<div class="well well-small">
          <h4>Reviews</h4>
		</div>
		<div class="well">
          <p>Donec id elit non mi porta gravida at eget metus. Maecenas faucibus mollis interdum.</p>
          <p>Morbi leo risus, porta ac consectetur ac, vestibulum at eros. Cras mattis consectetur purus sit amet fermentum.</p>
          <p>Maecenas sed diam eget risus varius blandit sit amet non magna.</p>
		</div>
        </div>
      </div>
<hr>


